# Database configuration
# Copy this file to ".env" and fill in the data with your own credentials.

# SQLite is the default option and does not require a username or password.

# Common credentials (PostgreSQL and MySQL)
DB_USER=root
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=testdb

# SQLite Configuration (Optional, default is db/test_database.db)
# SQLITE_DB_PATH=db/test_database.db
